<nav class="navbar-bg navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a href="/" class="nav-title navbar-brand" asp-area="" asp-page="/">Reserve</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a href="/find-event" class="reserve-blue-button-link justify-content-center nav-link text-dark" asp-area="">Find Event</a>
                </li>
                <li class="nav-item">
                    <a href="./Event/CreateEvent" class="reserve-blue-button-link justify-content-center nav-link text-dark" asp-area="">Create Event</a>
                </li>
                <li class="nav-item">
                    <a href="./Queue/CreateQueue" class="reserve-blue-button-link justify-content-center nav-link text-dark" asp-area="">Create Queue</a>
                </li>
                <li class="nav-item">
                    <a href="./Appointment/CreateAppointmentCalendar" class="reserve-blue-button-link justify-content-center nav-link text-dark" asp-area="">Create Appointment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

