@page "{id}"
@model Reserve.Pages.Event.ReservationNotificationModel
<h1 class="notification-title mb-lg-5">Reservation Successful!</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-lg-5">
        <div>
            <p class="notification-text d-flex justify-content-center mb-1">You can view Event details or cancel reservation at the below link.</p>
            <a class="d-flex justify-content-center mb-md-2" href="@Url.Page("ReserverDetails", new {id = Model.Id})">
                www.reserve.com/Event/ReserverDetails/@Model.Id
            </a>
        </div>
        <div>
            <p class="notification-text d-flex justify-content-center align-content-center">An email has been sent with the link.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="@Url.Page("ReserverDetails", new {id = Model.Id})" class="btn btn-custom reserve-blue-button">Your Details</a>
    </div>
</div>