@page "{id}"
@model Reserve.Pages.Event.ReserveEventModel
<h1 class="notification-title mb-lg-5">Reserve Now!</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-lg-5">
        <h2 class="font-event-details d-flex justify-content-center mb-lg-5">@Model.Event!.Title</h2>
        <form method="post" class="p-3">
            <span asp-validation-for="Ticket.CasualEvent" class="text-danger"></span>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-evenly">
                    <div class="col-3">
                        <label asp-for="Ticket.ReserverName" class="form-label">Your Name</label>
                    </div>
                    <input type="text" asp-for="Ticket.ReserverName" name="Ticket.ReserverName" class="form-control w-50" />            
                </div>
                <span asp-validation-for="Ticket.ReserverName" class="text-danger d-flex justify-content-center p-3"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-evenly">
                    <div class="col-3">
                        <label asp-for="Ticket.ReserverEmail" class="form-label">Email</label>
                    </div>
                    <input type="text" asp-for="Ticket.ReserverEmail" name="Ticket.ReserverEmail" class="form-control w-50" />          
                </div>
                <span asp-validation-for="Ticket.ReserverEmail" class="text-danger d-flex justify-content-center p-3"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-evenly">
                    <div class="col-3">
                        <label asp-for="Ticket.ReserverPhoneNumber" class="form-label">Phone Number</label>
                    </div>
                    <input type="text" asp-for="Ticket.ReserverPhoneNumber" name="Ticket.ReserverPhoneNumber" class="form-control w-50" />
                </div>
                <span asp-validation-for="Ticket.ReserverPhoneNumber" class="text-danger d-flex justify-content-center p-3 mb-3"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-custom reserve-blue-button">Reserve Now</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
    
</div>
