@page
@model Reserve.Pages.Queue.QueueAdminModel

<div class="container mt-5">
    <h1 class="display-4 text-center">Attendee's List</h1>

    <div class="d-flex justify-content-between mt-4">
        <div>
            <h2>Organization X Customer Service Queue</h2>
            <p class="text-muted">Last Reset: 8/10/2023 12:00 PM</p>
        </div>
        <div>
            <button class="reserve-blue-button btn btn-custom">Reset Queue</button>
        </div>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Queue Number</th>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in Model.Attendees)
            {
                <tr>
                    <td>@attendee.QueueNumber</td>
                    <td>@attendee.CustomerName</td>
                    <td>@attendee.CustomerPhoneNumber</td>
                </tr>
            }
         </tbody>
          </table>
      </div>