@page "/q-reg/{id}"
@model Reserve.Pages.Queue.QueueRegistrationModel

<h1 class="display-4 text-center">Welcome to @Model.QueueEvent.Title Queue!</h1>
<div class="container mt-5 col-6">

    <div class="card border rounded mt-2">
        <div class="card-header">
            <p class="text-muted" style="font-size: 1.125rem; display: inline-block;">Current Queue Number: @Model.NextQueueNumber</p>
            <p class="text-muted" style="font-size: 1.125rem; float: right; display: inline-block;">Current Number Served: @Model.QueueEvent.CurrentNumberServed</p>
        </div>
        <div class="card-body">
            <p class="card-text text-center"> <b>Welcome to the @Model.QueueEvent.Title queue up page!</b> </p>
            <p class="card-text text-center">By pressing the button below, you will be added to our queue for the next available opportunity.</p>
            <form method="post">
                <input type="hidden" asp-for="QueueEventId" />

                <div class="mb-3">
                    <label for="CustomerName" class="form-label">Your Name*</label>
                    <input type="text" class="form-control" name="NewQueueTicket.CustomerName" asp-for="NewQueueTicket.CustomerName" required />
                </div>
                <div class="mb-3">
                    <label for="CustomerPhoneNumber" class="form-label">Phone No*</label>
                    <input type="text" class="form-control" name="NewQueueTicket.CustomerPhoneNumber" asp-for="NewQueueTicket.CustomerPhoneNumber" required />
                    <span asp-validation-for="NewQueueTicket.CustomerPhoneNumber" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="reserve-blue-button btn">Queue Up!</button>
                </div>
            </form>
        </div>
    </div>
</div>
