@page
@model Reserve.Pages.Queue.QueueRegistrationModel


<div class="container mt-5">
    <h1 class="display-4 text-center">Welcome to Organization X Queue!</h1>

    <div class="card border rounded mt-2">
        <div class="card-body">
            <p class="card-text text-center"> <b>Welcome to the Organization X queue up page!</b> </p>
            <p class="card-text text-center">By pressing the button below, you will be added to our queue for the next available opportunity.</p>
            <form method="post">
                <input type="hidden" asp-for="QueueEventId" />

                <div class="mb-3">
                    <label for="CustomerName" class="form-label">Your Name*</label>
                    <input type="text" class="form-control" name="NewQueueTicket.CustomerName" asp-for="NewQueueTicket.CustomerName" required />
                </div>
                <div class="mb-3">
                    <label for="CustomerPhoneNumber" class="form-label">Phone No*</label>
                    <input type="text" class="form-control" name="NewQueueTicket.CustomerPhoneNumber" asp-for="NewQueueTicket.CustomerPhoneNumber" required />
                </div>

                <div class="text-center">
                    <button type="submit" class="reserve-blue-button btn">Queue Up!</button>
                </div>
            </form>


        </div>

        <div class="card-footer">
            <p class="text-muted" style="font-size: 0.85rem; display: inline-block;">Current Queue Number: 25</p>
            <p class="text-muted" style="font-size: 0.85rem; display: inline-block; float: right;">Current Number Served: 21</p>
        </div>
    </div>
</div>