@page "{id}"
@model Reserve.Pages.Appointment.MeetingNotificationModel
<h1 class="notification-title mb-lg-5">Calendar Created Successfully!</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-lg-5">
        <div>
            <p class="notification-text d-flex justify-content-center mb-1">You can now share your calendar on the following link:</p>
            <a class="d-flex justify-content-center mb-md-2" href="@Url.Page("ReserveAppointment", new {id = Model.Id})">www.reserve.com/appointment/@Model.Id</a>
        </div>
        <div>
            <p class="notification-text d-flex justify-content-center mb-1">
                If you don’t have an account, you can still edit your appointment at
                the following link:
            </p>
            <a class="d-flex justify-content-center mb-md-2" href="@Url.Page("EditSlots", new {id = Model.Id})">www.reserve.com/appointment/edit-appointment/@Model.Id</a>
        </div>
        <div>
            <p class="notification-text d-flex justify-content-center align-content-center">An email has been sent with both links.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-custom reserve-blue-button">Home Page</a>
    </div>
</div>
