@page "{id}"
@model Reserve.Pages.Appointment.MeetingNotificationModel

<h1 class="notification-title mb-lg-5">Appointment Reserved!</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-5">
        <div>
            <p class="notification-text calendar-notification d-flex justify-content-center">
                You have reserved an appointment! 🎉 
            </p>
            <p class="notification-text calendar-notification d-flex justify-content-center">View your details at this&nbsp; <a class="d-flex justify-content-center" href="@Url.Page("UserAppointmentDashboard", new {id = Model.Id})">link</a></p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-custom reserve-blue-button">Home Page</a>
    </div>
</div>
